In [1]:
age =36
print("Age:", age)

Age: 36

In [5]:
city= "oran"
country = "Algerie"
print("city:", city, "country:", country)

city: oran country: Algerie

In [6]:
location = city + ", " + country
print("Location:", location)

Location: oran, Algerie

In [7]:
age = 36
age = 30  # Changing the value
print("Age:", age)

Age: 30

In [8]:
height = 1.70  # Example height in meters
print("Height:", height)

Height: 1.7

In [9]:
print("Data type of height:", type(height))

Data type of height: <class 'float'>

In [10]:
is_student = True
print("Is student:", is_student)

Is student: True

In [11]:
name = "SOFIANE "
surname = 'nachi'
full_name = name + " " + surname
print("Full name:", full_name)

Full name: SOFIANE  nachi

In [12]:
x = 16
y = 1
x, y = y, x  # Swapping values
print("After swapping: x =", x, ", y =", y)

After swapping: x = 1 , y = 16

In [15]:
age += 5
print("Updated age:", age)

Updated age: 76

In [16]:
length = 15
width = 10
area_rectangle = length * width
print("Area of rectangle:", area_rectangle)

Area of rectangle: 150

In [17]:
base = 8
height = 5
area_triangle = 0.5 * base * height
print("Area of triangle:", area_triangle)

Area of triangle: 20.0

In [18]:
greeting = "Hello"
recipient = "World"
message = greeting + " " + recipient
print("Message:", message)

Message: Hello World

In [19]:
is_active = False
print("Is active (initial):", is_active)
is_active = True
print("Is active (updated):", is_active)

Is active (initial): False
Is active (updated): True

In [20]:
name = "SOFIANE"
age = 36
print(f"My name is {name} and I am {age} years old.")

My name is SOFIANE and I am 36 years old.

In [21]:
pi = 3.14159
print(f"Value of pi: {pi:.2f}")

Value of pi: 3.14

In [22]:
result = 2 * (3 + 5)
print("Result of the expression:", result)

Result of the expression: 16

In [23]:
sentence = "Learning Python is fun!"
print("First 5 characters:", sentence[:5])

First 5 characters: Learn

In [24]:
number = 100
number *= 2
print("Doubled number:", number)

Doubled number: 200

In [25]:
a = 5
b = 10
c = 15
average = (a + b + c) / 3
print("Average of a, b, and c:", average)

Average of a, b, and c: 10.0